#facediv {
	width: 500px;
	height: 500px;
	margin: 0, auto;
	position: relative;
}

#facecanvas {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #EEEEEE;
	box-shadow: 15px 15px 30px #555555 ;
}

#btnwink {
	position: absolute;
	left: 1200px;
	top: 300px;
}