#container {
	width: 540px;
	margin: 0 auto;
	font-family: "Droid Sans";
}

#mainHeading {
	font-size: 30pt;
}

#subHeading {
	font-size: 17pt;
	color: #777777
}

#navList {
	padding: 5px 5px 5px 5px ;
	margin: 0 0 0 0;
	list-style-type: none;
	background-color: #333333;
}

li {
	font-size: 16pt;
	display: inline;
	color: #DDBBBB;
	
	padding-right: 20px;
	margin: 10px 10px 10px 10px;
	border-right: 2px solid #DD9999;
}

#date {
	float: left;
	border-radius: 5px;
	border: 1px solid black;
	width: 30px;
	background-color: #994444;
	color: #FFFFFF;
	font-size: 13pt;
}

#articleHeading {
	color: #994444;
	font-size: 16pt;
	text-decoration: underline;
	text-shadow: 1px 1px 6px #444444;
	padding: 10px 10px 10px 10px;
	padding-left: 50px;
	margin: 10px 10px 10px 10px;
}

#articleBody {
	font-size: 12pt;
}

#sectionHeading {
}

#sectionBody {
	font-size: 12pt;
}

#feedbackForm {
	width: 400px;
	border: 1px solid #AAAAAA;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background-color: #EEEEEE;
	box-shadow: 10px 10px 20px #444444;
}