#container {
	width: 500px;
	font-family: "Droid Sans";
	margin: 0 auto;
}

#div_canvas {
	/*border: 2px1 solid #55BB88;*/
	height: 700px;
}

#can_ball {
	border: 0.2em solid #40546e;
	box-shadow: 0 0 1.3em #bcbcbc;
	background-color: #ececec;
	border-radius: 0.6em;
	cursor: crosshair;
}

#btn_stop {
	float: right;
}

body {
	background-color: #ffffff;
}

.btn.red {
	margin-top: 1em;
	background-color: #a52a2a;
	color: #dedede;
	border: 0;
	border-radius: 0.2em;
	font-size: 14pt;
	padding: 0.3em 2em 0.2em 2em;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
	cursor: pointer;
	border-bottom: 5.5px solid #a52a2a;
	font-size: 16pt;
}

.btn.red:hover {
	//background-color: #daa520;
	background-color: #b52f2f;
	//box-shadow: 0 0 0.5em #daa520;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
	border-bottom: 5.5px solid #640606;
}

#num {
	margin-top: 1.4em;
	border: 2px thin #b0c4de;
	font-size: 14pt;
	border-radius: 0.3em;
	width: 8em;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

#num:focus {
	box-shadow: 0 0 5px 3px #daa520;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

#btn_work {
	float: right;
	/*width: 4.2em;*/
}
