#container {
    margin: 0 auto;
    width: 720px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #dfefdf;
    font-family: "Droid Sans";
    font-size: 13pt;
}

#buttons, #choose {
    padding-top: 20px;
}

.btn {
	margin-top: 1em;
	background-color: #40445e;
	color: #bebebe;
	border: 0;
	border-radius: 0.5em;
	font-size: 14pt;
	padding: 0.5em 3em;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
	cursor: pointer;
}

.btn:hover {
	background-color: #daa520;
	color: #381808;
	box-shadow: 0 0 0.5em #daa520;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

select {
    border: 0px;
    padding: 5px 10px;
    background-color: #40445e;
    
}